$clearBlue: #0000ff38;
$darkGray: #272727;
$cellBorder: #0000ff38;
$lightHighlight: #00ff0a3b;
$lightBlue: #3b7dc5;
$lightGreen: #389e38;
$failYellow: #ffca00;
$successGreen: #40c140;
$green: #367b38;

